body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
     align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}
  
ol, ul {
  padding: 0;
  list-style: none;
}

.row {
  height: 60px;
}

.btn {
  width: 150px;
  justify-content: center;
}

.mybtnprev {
  width: 270px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  height: 310px;
}