body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
  
ol, ul {
  padding: 0;
  list-style: none;
}

h2 {
  font-weight: bold;
}

.row {
  height: 60px;
}

.myrowgames {
  height: 30px;
}

.btn {
  width: 150px;
  justify-content: center;
}

.mybtnprev {
  width: 270px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: rgb(241, 241, 241);
  border: 3px solid rgb(129, 129, 129);
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 25px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  height: 310px;
}